@import "../../styles/varyable.scss";
.menu, .menu-header{
    display: flex;
    align-items: flex-end;
    width: 380px;
    padding-top: 30px;

     
    a:hover {
        color: rgb(214, 69, 69);
    }
    a:active,
    a{
        font-family: Merienda;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: $dark-color;
        transition: color .5s ease;
        text-decoration: none;
    }

    &__logo, &__logo-header{
        width: 35px;
        height: 35px;
        background-image: url(../../resources/menuLogo.png);
    }

    &__homePage{
        width: 77px;
        height: 18px;
        margin-left: 5px;
    }

    &__ourCoffePage{
        width: 63px;
        height: 18px;
        margin-left: 40px;
    }

    &__forYouPage{
        width: 110px;
        height: 18px;
        margin-left: 40px;
    }
}//menu

.menu-header{
    position: absolute;
    z-index: 10;
    top: 10px;
    left: calc((100% - $max-width) / 2 + 150px);

    a {
        color: $main-color;
    }

    &__logo-header{
        background-image: url(../../resources/menuLogoWhite.png);
        background-position: center center;
    }
}

//MEDIA 1400
@media (max-width: $bp1) {
    .menu-header{
        left: calc((100% - $bp2) / 2 + 100px);
    } 
}
//MEDIA 1199
@media (max-width: $bp2) {
    .menu-header{
        left: calc((100% - $bp3) / 2 + 100px);
    } 
}
//MEDIA 992
@media (max-width: $bp3) {
    .menu-header{
        left: calc((100% - $bp4) / 2 + 80px);
        top: 0px;
    }
        
}

//MEDIA 767
@media (max-width: $bp4) {
    .menu-header{
        left: calc((100% - $bp5) / 2 + 53px);
        top: -15px;
    }
        
}

//MEDIA 488
@media (max-width: $bp5) {
    .menu-header{
        left: auto;
        top: -500px;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        background-color: rgba($color: $main-color, $alpha: 1);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        transition: all .3s ease;
        z-index: 5;
        box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.25);

        
        a:hover {
            color: rgb(214, 69, 69);
        }
        a:active,
        a{
            font-size: 29px;
            line-height: 17px;
            color: $dark-color;
            text-decoration: none;
        }

        &__logo, &__logo-header{
            width: 35px;
            height: 35px;
            background-image: url(../../resources/menuLogo.png);
        }

        &__homePage{
            width: 200px;
            height: auto;
            text-align: left;
            margin-top: 30px;
            padding-right: 18px;

        }

        &__ourCoffePage{
            width: 200px;
            height: auto;
            text-align: left;
            margin-top: 30px;
            padding-right: 50px;
        }

        &__forYouPage{
            width: 245px;
            height: auto;
            text-align: left;
            margin-top: 30px;
            a{
                font-size: 27px;
            }
        }

    }

    .active{
        top: 0;
        visibility: visible;
        opacity: 1;
    }
  
}