@import "../../../styles/varyable.scss";
@import "../../../styles/text.scss";

.best{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: auto;
    background-image: url(../../../resources/paper.png);


    &__title{
        display: block;
        width: 103px;
        height: 26px;
        padding-top: 60px;

        p{
            font-weight: normal;
            text-align: center;

            color: $dark-color;
        }
    }

    &__list{
        display: flex;
        width: 802px;
        height: auto;
        margin-top: 40px;

        &__items{
            width: inherit;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;

            &__item{
                display: block;
                position: relative;
                width: 220px;
                height: 240px;
                margin-bottom: 30px;
                background: rgba(255, 255, 255, 0.65);
                border-radius: 8px;
                transition: box-shadow .3s ease;
                p{
                        
                        text-align: center;
                        color: $dark-color;
                }
                img{
                    position: absolute;
                    width: 151px;
                    height: 130px;
                    top: 22px;
                    left: 34px;
                }
                .title{
                    position: absolute;
                    width: 177px;
                    height: 21px;
                    top: 166px;
                    left: 21px;

                }
                .cost{
                    position: absolute;
                    width: 47px;
                    height: 21px;
                    top: 197px;
                    left: 153px;

                    p{
                        font-weight: bold;
                    }
                }
            }
            &__item:hover{
                box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.25);
            }
        }
    }
}//best

/* React Transition Group */
.cards{
    transition: all 1s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.cards-enter {
    opacity: 0;
    visibility: hidden;
}
.cards-enter-active {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in-out;
}
.cards-enter-done {
    opacity: 1;
    visibility: visible;
}
.cards-exit {
    opacity: 1;
    visibility: visible;
}
.cards-exit-active {
    opacity: 0;
    visibility: hidden;
}
.cards-exit-done{
opacity: 0;
visibility: hidden;
transition: all 1s ease-in-out;
}

/*MEDIA*/

//MEDIA 992
@media(max-width: $bp3){
    .best{
        &__list{
            width: 700px;
            
            &__items{
                justify-content: space-between;
                margin: 0;
                padding: 0;
            }
        }
    }
}

//MEDIA 767
@media(max-width: $bp4){
    .best{
        &__list{
            width: 453px;
            
            &__items{

                &__item{
                    width: 200px;
                    height: 230px;
                    margin-bottom: 25px;
                    img{
                        position: absolute;
                        width: 151px;
                        height: 130px;
                        top: 22px;
                        left: 26px;
                    }
                    .title{
                        position: absolute;
                        width: 177px;
                        height: 21px;
                        top: 170px;
                        left: 16px;
    
                    }
                    .cost{
                        position: absolute;
                        width: 47px;
                        height: 21px;
                        top: 185px;
                        left: 145px;
                    }
                }
            }
        }
    }
}

//MEDIA 480
@media(max-width: $bp5){
    .best{
        &__list{
            width: 100vw;
            
            &__items{
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__item{
                    width: 220px;
                    height: 240px;
                    margin-bottom: 25px;
                    img{
                        position: absolute;
                        width: 151px;
                        height: 130px;
                        top: 22px;
                        left: 34px;
                    }
                    .title{
                        position: absolute;
                        width: 177px;
                        height: 21px;
                        top: 172px;
                        left: 21px;
    
                    }
                    .cost{
                        position: absolute;
                        width: 47px;
                        height: 21px;
                        top: 215px;
                        left: 153px;
                    }
                }
            }
        }
    }
}

