@import "../../styles/varyable.scss";

.main__logo, .dark__logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    width: 200px;
   
    &__group, &__groupDark{
        width: 30px;
        height: 35px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../../resources/Group.png);

        &__after, &__before{
            display: block;
            width: 60px;
            height: 0px;
            border: 1px solid #000;
            margin-left: 25px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }

        &__before{
            margin-right: 25px;
            margin-left: 0;
        }
    }

    &__groupDark{
        background-image: url(../../resources/blackGroup.png);
    }
}//logo

//MEDIA 1199
@media (max-width: $bp2) {
    .main__logo, .dark__logo{
        padding-top: 50px;
       
    } 
}

//MEDIA 992
@media (max-width: $bp3) {
    .main__logo, .dark__logo{
        padding-top: 35px;
      
    } 
}

//MEDIA 767
@media (max-width: $bp4) {
    .main__logo, .dark__logo{
        width: 150px;
        padding-top: 15px;

        &__group, &__groupDark{
            width: 60px;
            height: 35px;
            background-image: url(../../resources/Group.png);
    
            &__after, &__before{
                margin-left: 15px;
            }
    
            &__before{
                margin-right: 15px;
            }
        }

        &__groupDark{
            background-image: url(../../resources/blackGroup.png);
        }
    }
}

//MEDIA 480
@media (max-width: $bp5) {
    .main__logo, .dark__logo{
        padding-top: 85px;

        &__group, &__groupDark{
            width: 60px;
            height: 35px;
            background-image: url(../../resources/Group.png);
    
            &__after, &__before{
                margin-left: 15px;
            }
    
            &__before{
                margin-right: 15px;
            }
        }

        &__groupDark{
            background-image: url(../../resources/blackGroup.png);
        }
    }
}