@import "../../../styles/varyable.scss";
@import "../../../styles/text.scss";
.rectangle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: 520px;
    background-color: $main-color;

    &__aboutUs{
        width: 108px;
        height: 26px;
        padding-top: 80px;

        span{
            font-weight: normal;
            color: $dark-color;
        }
    }

    &__description{
        width: 589px;
        height: 223px;
        margin-top: 41px;

        p{
            text-align: center;
        }
    }
}//rectangle