@import "../../styles/varyable.scss";
@import "../../styles/text.scss";

.title{
    width: $width;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text{
        p{  
            font-family: Merienda;
            color: $dark-color;
        }
        a{
            text-decoration: none;
            color: rgb(214, 69, 69);
        }
    }
}

//MEDIA
//MEDIA 1412
@media(max-width: $bp1){
    .title{
        width: 1187px;
    }
};
//MEDIA 1199
@media(max-width: $bp2){
    .title{
        width: 980px;
    }
};
//MEDIA 992
@media(max-width: $bp3){
    .title{
        width: 7750px;
    }
};
//MEDIA 767
@media(max-width: $bp4){
    .title{
        width: 465px;
        p{
            font-size: 20px;
        }
    }
};
//MEDIA 480
@media(max-width: $bp5){
    .title{
        width: 100vw;
        text-align: center;
        p{
            font-size: 20px;
            padding: 0 20px 0 20px;
        }
    }
};