@import "../../styles/varyable.scss";
@import "../../styles/text.scss";

.header, .header-pleasure{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: inherit;
    max-width: $max-width;
    min-width: $min-width;
    height: 260px;

    background-image: url(../../resources/singlePageHeader.png);

    &__title{
        padding-top: 130px;
    }
}//header

.header-pleasure{
    background-image: url(../../resources/pleasureHeader.png);
}