
@import "./styles/varyable.scss";
.root{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 1500px;
    height: auto;
    min-height: 960px;
}

//MEDIA
@media(max-width: $bp1) {
    .root{
        width: 1500px;
    }
}
@media(max-width: $bp2) {
    .root{
        width: 1299px;
    }
}
@media(max-width: $bp3) {
    .root{
        width: 1092px;
    }
}
@media(max-width: $bp4) {
    .root{
        width: 867px;
    }
}
@media(max-width: $bp5) {
    .root{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 420px;
    }
}
